<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1> This is the posts page</h1>

<% posts.forEach(function(posts){ %>

<li> <%= posts %> </li>

<% }) %>

<form action="/addpost" method="POST">
    <input type="text" name="newpost" placeholder="add your note">
    <button>Send</button>
</form>

<% include partials/footer %>
